* {
    margin: 0;
    padding: 0;

    outline: none;
}
:root {
    --kisd-green: #167A42;
    --kisd-blue: #064C8A;
    --kisd-bg: rgb(255, 255, 255);
    --keller-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}


body {
    background-color: var(--kisd-bg);
    height: 100%;

    display: flex;
    flex-direction: column;
}

.banner {
    transition: all .5s;
    padding: 25px;
    height: 3rem;
    display: flex;
    font-family: var(--keller-font);
    font-size: xx-large;
    width: 12rem;
    justify-items: start;
    background-image: linear-gradient(45deg, var(--kisd-green) calc(100% - 100px), transparent calc(100% - 100px));

}

.K {
    transition: all .5s;
    height: 4rem;
    width: 4rem;
}

.K polygon {
    transition: all .5s;
    fill: var(--kisd-bg);
    stroke: var(--kisd-bg);
}

.navbar {
    height: 4rem;
    width: 100%;
    background-color: var(--kisd-green);
    vertical-align: middle;

    text-align: left;

    color: var(--kisd-bg);
    font-family: var(--keller-font);


    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: center;
    align-items: center;

    z-index: 5;
}

.link {
    transition: all .5s;
    padding: 5px;
    margin-inline: 25px;

    /* text-transform: uppercase; */

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar:hover .link {
    opacity: 50%;

}
.link::after {
    transition: all .2s;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--kisd-bg);
    border-radius: 10px;
}
.navbar:hover .link:hover {
    opacity: 1;
}
.link:hover::after {
    width: 100%;
}



.navbar #hamburger {
    transition: all 1s;
    background-color: transparent;
    border: hidden;
    height: inherit;
    width: auto;
    padding-inline: 1rem;
    color: var(--kisd-bg);
    background-color: transparent;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
}

#hamburger:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
#hamburger[open="true"] {
    transition: border-right .1s linear;
    border-right: 8px solid var(--kisd-bg);
}
#hamburger[open="false"] {
    transition: border-right .1s linear;
    border-right: 0px solid var(--kisd-bg);
}

#hamburger div {
    transition: all .5s;
    background-color: var(--kisd-bg);
    height: 2px;
    width: 2rem;

    margin: 5px;
    border-radius: 15px;

}
#ham_menu {
    background-color: var(--kisd-green);
    height: auto;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: flex-end;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
#ham_menu[open="false"] {
    width: 0;
}
#ham_menu[open="true"] {
    width: 18rem;
    transition: all 1s cubic-bezier(0.39, 0.31, 0.37, 1.47);
}

#ham_menu .link {
    transition: all .5s;
    text-align: right;
    padding: 5px;
    list-style-type: none;

    width: min-content;

    font-size: large;
    padding-inline: 16px;
    margin-block: 4px;

    white-space: nowrap;
    cursor: pointer;
}

#ham_menu li:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#hamburger div:nth-child(1) {
    width: 2rem;
    transform: rotate(0);
}
#hamburger[open="true"] div:nth-child(1) {
    transform: rotate(-45deg);
    position: absolute;
}

#hamburger div:nth-child(2) {
    width: 1.5rem;
    transform: rotate(0);
}
#hamburger[open="true"] div:nth-child(2) {
    transform: rotate(45deg);
    position: absolute;
}
#hamburger div:nth-child(3) {
    width: 1rem;
}
#hamburger[open="true"] div:nth-child(3) {
    opacity: 0;
    transform: translateY(1rem);
}

#hamburger:hover div,
#hamburger[open="true"] div {
    width: 2rem;
}



#news {
    width: 100%;
    height: 100%;
    background-color: var(--kisd-blue);

    overflow: hidden;
}

#carosel {
    height: inherit;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;

    /* overflow: hidden; */
}

#carosel img {
    transition: all 1s;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    display: none;

    /* overflow: hidden; */
}
#carosel img:nth-child(1),
#carosel img:nth-child(2),
#carosel img:nth-child(3) {
    display: block;
    opacity: 25%;
}

